<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="FAQ">

	<select id="findAll" resultType="com.mall.vo.faq.FaqVo">
		select * from tb_faq order by faq_no desc
	</select>
	
	<select id="detail" resultType="com.mall.vo.faq.FaqVo">
  		select * from tb_faq where faq_no=#{faq_no}
 	</select> 
 	 
 	<select id="totBoard" resultType="java.lang.Integer">
  		select count(*) from tb_faq
  	</select>

  	<insert id="insert">
  		insert into tb_faq values(seq_board.nextval,#{faq_title},#{faq_content},sysdate,sysdate,0,#{faq_manager})
 	</insert>

  <!-- 
  <update id="update">
  	update tb_faq set title=#{title},content=#{content},fname=#{fname},fsize=#{fsize} where no=#{no} and pwd=#{pwd}
  </update>

  <delete id="delete">
  	delete tb_faq where no=#{no} and pwd=#{pwd}  
  </delete>
  
  
  <select id="findAll" resultType="FAQVo">
    select faq_no,faq_title,faq_content,faq_regdate,faq_hit,faq_manager from (select rownum num, faq_no,faq_title,faq_content,faq_regdate,faq_hit,faq_manager from 
	(select * from tb_faq order by b_ref desc,b_step)) 
	where num between #{start} and #{end}
  </select> -->


</mapper>