<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="FAQ">

	<select id="findAll" resultType="com.mall.vo.faq.FaqVo">
		select faq_no,faq_title,faq_regdate,faq_hit,faq_manager  
  	  	from (select rownum num,faq_no,faq_title,faq_regdate,faq_hit,faq_manager
    	from (select * from tb_faq 
    	<if test="searchKeyword != null and searchKeyword != ''">
  			<choose>
		   	 	<when test="searchType == 'all'">
   					where FAQ_TITLE like '%' || #{searchKeyword} || '%' or FAQ_CONTENT like '%' || #{searchKeyword} || '%' 
			    </when>
			    <otherwise>
   					where ${searchType} like '%' || #{searchKeyword} || '%'
			    </otherwise>
		  	</choose>
 		</if>
    	 order by faq_no desc)) 
		where num between #{start} and #{end}
	</select>
	
	<select id="detail" resultType="com.mall.vo.faq.FaqVo">
  		select * from tb_faq where faq_no=#{faq_no}
 	</select> 


  	<insert id="insert">
  		insert into tb_faq values(seq_tb_faq.nextval,#{faq_title},#{faq_content},sysdate,#{faq_hit},#{faq_manager})
 	</insert>
 	
 	<update id="update">
  		update tb_faq set faq_title=#{faq_title},faq_content=#{faq_content} where faq_no=#{faq_no}
 	</update>
 	
 	<delete id="delete">
  		delete from tb_faq where faq_no=#{faq_no}  
  	</delete>

 	<select id="totBoard" resultType="java.lang.Integer">
  		select count(*) from tb_faq 
  		<if test="searchKeyword != null and searchKeyword != ''">
  			<choose>
		   	 	<when test="searchType == 'all'">
   					where FAQ_TITLE like '%' || #{searchKeyword} || '%' or FAQ_CONTENT like '%' || #{searchKeyword} || '%' 
			    </when>
			    <otherwise>
   					where ${searchType} like '%' || #{searchKeyword} || '%'
			    </otherwise>
		  	</choose>
 		</if>
  	</select>
  	
  	<!-- 조회수 증가 -->
  	<update id="updateHit">
  		update tb_faq set faq_hit=faq_hit+1 where faq_no=#{faq_no}
 	</update>
  	

</mapper>