<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inquiry">

  <select id="totBoard" resultType="java.lang.Integer">
  	select count(*) FROM tb_cs WHERE cs_mem_id = #{cs_mem_id}
  	<if test="keyword != ''">
  		<choose>
  	  		<when test="searchFeild == 'cs_title'">
		  		AND cs_title like '%' || #{keyword} || '%'
  	  		</when>  			
  		</choose>
  	</if>  	
  </select>

  <select id="findAll" resultType="com.mall.vo.user.UserVO">
    select * from tb_member where mem_id = #{mem_id} 
  </select>
  
  <insert id="insertInquiry">
    	INSERT INTO tb_cs VALUES(seq_tb_cs.nextval,#{cs_mem_id},#{cs_title},#{cs_content},sysdate,#{cs_category_one},#{cs_category_two},#{cs_fname},#{cs_email},#{cs_phone},#{cs_response},#{cs_respcheck})
  </insert>
  
  <select id="findAllInquiry" resultType="com.mall.vo.inquiry.InquiryVo">
      SELECT
       cs_no, cs_mem_id ,cs_title,cs_content,cs_regdate,cs_category_one,cs_category_two,cs_fname,cs_email,cs_phone,cs_response from (select rownum num, cs_no,cs_mem_id ,cs_title,cs_content,cs_regdate,cs_category_one,cs_category_two,cs_fname,cs_email,cs_phone,cs_response from
	(select * from tb_cs 
	  <if test="keyword != ''">
	    <choose>
	    	<when test = "searchFeild == 'cs_title'">
			  	WHERE cs_title like '%' || #{keyword} || '%'
	    	</when>
	  		<when test="searchFeild == 'cs_mem_id'">
	  				where cs_mem_id like '%' || #{keyword} || '%'
	  		</when>
	    </choose>
 	 </if>
	order by cs_no desc)) where num between #{start} and #{end}
  </select>
  
  <select id="selectInquiry" resultType="com.mall.vo.inquiry.InquiryVo">
  		SELECT * FROM tb_cs WHERE cs_no = #{cs_no}
  </select>
  
  <select id="getMemberEmail" resultType="com.mall.vo.inquiry.InquiryEmailPhoneVo">
  	SELECT * FROM tb_cs WHERE cs_no = #{cs_no} 
  </select>
  
  <select id="findMyInq" resultType="com.mall.vo.mypage.MyInqListVo">
	  SELECT no,cs_no, cs_title,cs_category_two,cs_regdate,cs_response,cs_respcheck FROM (SELECT ROWNUM no, cs_no, cs_title,cs_category_two,cs_regdate,cs_response,cs_respcheck from
     (SELECT cs_no,cs_title,cs_category_two,cs_regdate,cs_response,cs_respcheck
  		FROM tb_cs
  		WHERE cs_mem_id = #{cs_mem_id}
  		<if test="keyword != ''">
  			<choose>
  	  			<when test="searchFeild == 'cs_title'">
		  			AND cs_title like '%' || #{keyword} || '%'
  	  			</when>  			
  			</choose>
  		</if>
  		ORDER BY CS_NO DESC))
      WHERE no between #{start} and #{end}
  </select>

  <insert id="insertAnswer">
  	INSERT INTO tb_cs_answer VALUES(seq_tb_cs_answer.nextval,#{ans_title},#{ans_content},sysdate,#{ans_cs_mem_id},#{ans_cs_no})
  </insert>
  
  <update id="updateRep">
	UPDATE tb_cs SET cs_response = #{cs_response}, cs_respcheck = #{cs_respcheck} WHERE cs_no = #{cs_no}  
  </update>
  
  <select id="detailInq" resultType="com.mall.vo.mypage.MyInqDetailVo">
        SELECT cs_no,cs_title,cs_content,cs_category_one,cs_category_two,cs_regdate,cs_fname,cs_response,cs_mem_id
  		FROM tb_cs
    	where cs_no = #{cs_no}
   
<!--   		SELECT cs_no,cs_content,cs_category_one,cs_category_two,cs_regdate,cs_fname,cs_response,ans_title,ans_content,cs_mem_id
  		FROM tb_cs
  		INNER JOIN tb_cs_answer
		ON tb_cs.cs_mem_id = tb_cs_answer.ans_cs_mem_id
    	where cs_no = #{cs_no} -->
  </select> 
  
  <select id="findInqResp" resultType="com.mall.vo.mypage.MyInqDetRespVo">
  		SELECT ans_title,ans_content,ans_regdate,ans_cs_no from tb_cs_answer WHERE ans_cs_no = #{ans_cs_no}
  </select>
  
  <select id="cntTbCs" resultType="java.lang.Integer">
  		SELECT COUNT(*) FROM tb_cs
  	  	<if test="keyword != ''">
  	  		<choose>
  	  			<when test="searchFeild == 'cs_title'">
  	  				where cs_title like '%' || #{keyword} || '%'
  	  			</when>
  	  			<when test="searchFeild == 'cs_mem_id'">
  	  				where cs_mem_id like '%' || #{keyword} || '%'
  	  			</when>
  	  		</choose>
 	 	</if>
  </select>
  
</mapper>