<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypage">

  <select id="totBoard" resultType="java.lang.Integer">
  	select COUNT(*) FROM tb_cs WHERE cs_mem_id = #{cs_mem_id}
  </select>

  <select id="getUserinfo" resultType="com.mall.vo.mypage.MypageVo">
		select * from tb_member where mem_id = #{mem_id}
  </select>
  
  <select id="getMemberId" resultType="com.mall.vo.mypage.MypageVo">
  		select mem_id from tb_member where mem_id = #{mem_id}
  </select>
  
  <select id="getPwd" resultType="java.lang.String">
		SELECT mem_pwd FROM tb_member WHERE mem_id = #{mem_id}
  </select>
  
  <select id="getShipping" resultType="com.mall.vo.mypage.ShippingVo">
  		SELECT mem_zipcode,mem_address,mem_detailaddress FROM tb_member WHERE mem_id = #{mem_id}
  </select>
  
  <update id="updateShipping">
  		UPDATE tb_member 
  		SET
  		mem_zipcode = #{mem_zipcode},
  		mem_address = #{mem_address},
  		mem_detailaddress = #{mem_detailaddress}
  		WHERE
  		mem_id = #{mem_id}
  </update>

  <update id="updateEmail">
  		UPDATE tb_member SET mem_email = #{mem_email} WHERE mem_id = #{mem_id}
  </update>
  
  <update id="updatePhone">
  		UPDATE tb_member SET mem_phone = #{mem_phone} WHERE mem_id = #{mem_id}
  </update>
  
  <update id="updatePwd">
  		UPDATE tb_member SET mem_pwd = #{mem_pwd} WHERE mem_id = #{mem_id}
  </update>
  
  <delete id="deleteId">
  		DELETE tb_member WHERE mem_id = #{mem_id}
  </delete>  
   
</mapper>