@charset "UTF-8";

body {
	background-color: #F7F5F3;
}

.admin-body-wrapper {
	margin-left: 250px;
	font-family: 'Noto Sans KR', sans-serif;
	margin-bottom: 30px;
}

.list-title {
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

.body-container {
	width: 1100px;
	margin: auto;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 3px #E7E0DA;
}

.pagination-wrap {
	display: flex;
	justify-content: center;
}

#answer_wrap {
	width: 1000px;	
}
.row {
	width: 100%;
	text-align: left;
}