@charset "UTF-8";

body {
	background-color: #F7F5F3;
}

.admin-body-wrapper {
	margin-left: 250px;
}

.list-wrap {
	font-family: 'Noto Sans KR', sans-serif;
}

.list-title {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 24px;
	text-align: center;
}

.table-container {
	width: 1100px;
	margin: auto;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 3px #E7E0DA;
}

.table-wrap {
	width: 1000px;
	margin: auto;
	padding-top: 30px;
}

.table-hover tbody tr:hover td {
    background: #E7EFED;
}



.button-group {
	width: 60px;
	height: 30px;
	font-size: 12px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

#button-edit {
	background-color: #25A3A7;
	color: white;
}

#button-delete {
	background-color: #EDE7E3;
	color: black;
}

#edit-icon {
	color: #25A3A7;
	font-size: 18px;
}

#edit-icon:hover{
	color: #36CED3;
	cursor: pointer;
}

#delete-icon {
	font-size: 18px;
	color: gray;
}

#delete-icon:hover {
	color: #e76f51;
	cursor: pointer;
}
