@charset "UTF-8";

.pass-container {
    background: none;
    width: 800px;
    padding: 30px;
    border: 1px solid #DFE1E5;
    border-radius: 5px;	
    margin: 150px auto;
}

#pwd-btn {
    margin-left: 600px;
}
