@charset "UTF-8";


/* 사이드 메뉴바 */
#side-menu {
	width:220px;
	height:100%;
	position:fixed;
	background-color:#ffad33;
}

.side-menu .goto-admin-main{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 50px;
}

.side-menu .list {
	width: 100%;
	height: 40px;
	color: white;
}

.side-menu .divider {
	background-color: white;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 1rem;
	margin-right: 1rem;
}

.admin-body-wrapper {
	margin-left: 250px;
}

