@charset "UTF-8";

table {
  border-collapse : collapse;
  border-radius : 7px;
  border-style : hidden;
  box-shadow : 0 0 0 1px #666;
}

.order-form-container {
    width: 1300px;
}

.order-table {
    background: white;
    width: 80%;
    border-collapse: collapse;
    border-radius: 5px;
}

td,th {
    padding: 20px;
}
.order-table td, .order-table th {
    border-bottom: 1px solid #DFE1E5;
}

.order-img {
    width: 120px;
}
.order-img img {
	width: 100px;
	border: 1px solid #DFE1E5;
	border-radius: 5px;
}

.order-item {
    width: 580px;
    text-align: center;
}

.order-amount {
    width: 200px;
    text-align: center;
}

#order-title-p{
	font-size: 18px;	
}

#order-subtitle-span{
    font-size: 12px;
    color: #9E9E9E;
}

.aop-container {
    width: 400px;
}

.aop-bckground {
    background: none;
    width: 80%;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;   
}

#dotted-hr {
    color: #9e9e9e;
    border-style: dotted;
}

.shipping-container {
    width: 1300px;
}

.shipping-background {
    background: none;
    width: 80%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px; 
}

.order-title-wrap {
	margin-bottom: 10px;	
}
.order-title{
	text-align: center;
}

.shipping-p {
    font-weight: bold;
    font-size: 15px;
}

.amount_of_Payment {
    margin-left: 720px;
}

#payment-agree-chkbox {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.shipping-wrap1 {
    display: none;
}

#ship-wrap2{
	display: none;
}