
#list {
	position: relative;
	margin: auto;
	margin-top: 90px;
	margin-bottom: 50px;
	width: 1100px;
}

.list-title{
	text-align: center;
	margin-bottom: 30px;
}

.list-wrap {
	margin-top: 50px;
	width: 100%;
	margin: auto;
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.list-set-box {
	width: 800px;
	height: 380px;
	margin-top: 40px;
	margin-bottom: 50px;
}

.sets {
	list-style: none;
	margin:0px;
	padding:0px;
	display: block;
	font-family: 'Noto Sans KR', sans-serif;
}

.items .list-item-image{
	width: 260px;
	height: 290px;
	object-fit: cover;
	border-radius: 5%;
}

.items .list-product-title{
	font-weight: 400;
	font-size: 18px;
	margin-top: 10px;
	color: black;
}

.items .list-product-subtitle{
	font-weight: 400;
	margin-top: 5px;
	color: #667a77;
}

.items .list-price{
	font-weight: 700;
	margin-top: 5px;
	color: black;
}

.items a {
	text-decoration: none;
	color: black;
}


.items .list-product-title a:hover {
	color: #19778a;
}

.page-num {
	text-align: center;
	font-size: 20px;
	text-decoration: none;
}

.page-num a:link {
	color: #19778a;

}
		
.page-num a:visited {
	color: #19778a;
}
		
.page-num a:hover {
	color: #ffa62b;
}


.footer {
	position: relative;
	padding-top: 50px;
}

.footer-link{
	background: #c0c0c0; 
	padding: 5px 50px;
	color: #000000;
}

.footer-link ul{
	text-align: center;
	padding-top: 15px;
	padding-left: 0;
	list-style: none;
}

.footer-link li{
	display: inline-block;
	padding:0 28px;	
	line-height: 25px;
}

.footer-link a{
	text-decoration: none;
	color: #000000;
}

.footer-outer{
	text-align: center;
}

.footer-col{
	text-align: left;
	display: inline-block;
	padding: 50px;	
}

.footer-title{
	font-size: 20px;
}

.footer--call{
	font-size: 27px;
}

.footer-bottom{
	background: #5c5c5c;
	padding: 5px 0;
}

.footer--copy{
	padding-top: 15px;
	text-align: center;
	color: #c2c2c2;
	font-size: 16px;
}
